* {
    margin: 0;
    padding: 0;
}

/* =============================  
   ======= Common Style ========
   =============================*/
.sectionTitle {
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
}

/* =============================  
   ====== Header Style =========
   =============================*/
#header {
    height: 400PX;
    max-width: 100%;
    background-color: blue;
    background-image: url("../assets/img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headerDetailsContainer {
    text-align: center;
    max-width: 50%;
    padding: 20px;
    margin: auto;
    position: relative;
    top: 40%;
}

#headerDetailsContainer h1 {
    color: azure;
}

#headerDetailsContainer button {
    margin-top: 20px;
    font-size: x-large;
    background-color: wheat;
    width: 20%;
    padding: 10px;
    border-radius: 15px;
}

#headerDetailsContainer button:hover {
    background-color: whitesmoke;
    border: 2px solid darkgrey;
    box-shadow: 10px;
}

/* =============================  
   ======== Main Style =========
   =============================*/
#main {
    margin: auto;
}

/* =============================  
   ====== Welcome Style ========
   =============================*/
#welcomeSection {
    background-color: darkslategrey;
    height: 300px;
    padding: 20px;
}

#welcomeContainer {
    max-width: 1200px;
    margin: auto;
}

#welcomeDescriptionContainer {
    float: left;
    width: 45%;
    height: 300px;
    padding-left: 20px;
}

#welcomeDescriptionContainer h2 {
    margin-bottom: 10px;
    color: wheat;
}

#welcomeDescriptionContainer p {
    color: whitesmoke;
    margin-bottom: 10px;
}

#welcomeImageContainer {
    float: right;
    width: 50%;
    height: 300px;
}

#welcomeImage {
    height: inherit;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 30px;
}

/* =============================  
   ====== Training Style =======
   =============================*/
#training {
    background-color: aliceblue;
    height: 300px;
    padding: 20px;
}

/* =============================  
   ======== Team Style =========
   =============================*/
#team {
    background-color: darkkhaki;
    height: 40vh;
    padding: 20px;
}

/* =============================  
   ======= Footer Style ========
   =============================*/
#footer {
    background-color: darkslategrey;
    height: 300px;
    text-align: center;
}

#footer h2{
    margin: auto;
    position: relative;
    top: 50%;
    color: white;
}