#mainNavBarContainer {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  overflow: hidden;
}

#mainNavBarListWrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.mainNavBarList {
  float: left;
}

.mainNavBarList a {
  display: block;
  padding: 20px 30px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
}

.mainNavBarList a:hover {
  background-color: #111;
}

#mainNavBarListWrapper ul {
  list-style-type: none;
  float: right;
}

#mainNavBarListWrapper ul a {
  background-color: darkolivegreen;
}

#mainNavBarListWrapper ul a:hover {
  background-color: #111;
}
